.search-bar-div {
  width: 60%;
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
}

.margin-all {
  margin: .5rem;
}

.search-button {
  margin-left: 0.5rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.aside-1 {
  order: 1;
  max-width: 10rem;
}

.aside-2 {
  order: 2;
  max-width: 30rem;
}

.small-margin {
  margin: .2rem;
}

.unset-text-align {
  text-align: unset;
}